<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{LayoutPadrao}">

<head>
  <title>Cadastro de títulos</title>
</head>

<section layout:fragment="conteudo">
  <form class="form-horizontal" method="POST" th:action="@{/titulos}" th:object="${titulo}">
    <div th:replace="~{MensagemErro}"> </div>
    <div th:replace="~{MensagemGeral}"> </div>

    </div>

    <div class="card my-3">
      <div class="card-header">
        <div class="clearfix">
          <h5 class="card-title aw-titulo-card mb-0"> Novo Titulo</h5>
          <a class="btn btn-link aw-link-panel" th:href="@{/titulos}">Voltar para a pesquisa</a>
        </div>
      </div>
      <div class="card-body">
        <input type="hidden" th:field="*{codigo}"/>
        <div class="form-group row">
          <label for="descricao" class="col-sm-2 col-form-label">Descrição</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="descricao" th:field="*{descricao}"
              th:classappend="${#fields.hasErrors('descricao')} ? 'is-invalid'">
          </div>
        </div>
        <div class="form-group row my-3">
          <label for="dataVencimento" class="col-sm-2 col-form-label">Data de vencimento</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="dataVencimento" th:field="*{dataVencimento}"
              th:classappend="${#fields.hasErrors('dataVencimento')} ? 'is-invalid'"
              data-provide="datepicker"
              data-date-format="dd/mm/yyyy"
              data-date-language="pt-BR"
              data-date-autoclose="true"
              data-date-today-highlight="true"
              data-date-orientation="bottom">
          </div>
        </div>
        <div class="form-group row my-3">
          <label for="valor" class="col-sm-2 col-form-label">Valor</label>
          <div class="col-sm-2">
            <input type="text" class="form-control js-currency" id="valor" th:field="*{valor}"
              th:classappend="${#fields.hasErrors('valor')} ? 'is-invalid'">
          </div>
        </div>
        <div class="form-group row my-3">
          <label for="status" class="col-sm-2 col-form-label">Status</label>
          <div class="col-sm-2">
            <select id="status" class="form-control" name="status">
              <option th:each="status : ${todosStatusTitulo}" th:value="${status}" th:field="*{status}" th:text="${status.descricao}">
              </option>
            </select>
          </div>
        </div>
        <div class="form-group row my-3">
          <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </div>
      </div>
  </form>
  </div>
</section>

</html>